html,
body {
  width: 100%;
  height: 100%;
}

html * {
  margin: 0;
  padding: 0;
}

body {
  background-color: #101010;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: 200;
  color: white;
}

header, .content {
  padding: 20px 40px;
}

ul {
  list-style-type: none;
}

button {
  font-family : inherit;
  font-size: inherit;
  font-weight: inherit;
  color: white;
  
  padding: 0.5em 1em;

  background-color: #101010;
  border: 2px solid white;
  border-radius: 15px;

  transition-duration: 0.4s;
}
button:hover {
  background-color: #242424;
}
button:active {
  background-color: black;
}
button:focus {
  outline: none;
}

button.delete {
  font-size: 0;
  padding: 0 15px;
  margin: 0;
  margin-right: 5px;
  border: 0;
  border-radius: 8px;
}

button#cv {
  padding: 0.6em 2em;
}

a {
  color: white;
}

input {
  border: 2px solid #a0a0a0;
  border-radius: 5px;

  font-family: inherit;
  font-size: 0.5em;
}
input:focus {
  outline: none;
}

textarea {
  height: 4em;
  min-height: 2em;
  max-height: 10em;
  resize: vertical;

  border: 2px solid #a0a0a0;
  border-radius: 5px;

  font-family: inherit;
  font-size: 0.5em;
  align-self: stretch;
}
textarea:focus {
  outline: none;
}

select {
  font-family : inherit;
  font-size: inherit;
  font-weight: inherit;
  color: white;

  background-color: #101010;
  border: 2px solid white;
  border-radius: 10px;
}
select:focus {
  outline: none;
}

.me-background {
  background-image: url('/images/me.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
}

.nav-links a {
  padding: 0.6em 1em;
  text-decoration: none;
}
.nav-links a:hover {
  background-color: #242424;
}
.nav-links a:active {
  background-color: black;
}
.nav-links a:focus {
  outline: none;
}
.nav-links a.active {
  background-color: #a31414;
}

.right {
  text-align: right;
}

#main {
  margin-top: 3em;
}

#ladypython {
  color: #a31414;
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 0.5em;
}

#feature {
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1;
}

#description {
  margin-bottom: 1em;
}

#messages-list {
  font-size: 0.5em;
}

#messages-list li {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.timestamp {
  color: #a0a0a0;
  margin-right: 1em;
}

.nickname {
  color: #a31414;
  margin-right: 1em;
}

#message-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#text {
  margin-bottom: 1em;
}

div#pizza {
  display: inline-block;
}
div#chart-pizza-container {
  display: inline-block;
}

.pizza {
  position: relative;
  padding: 0;
  width: 500px; 
  height: 500px;
  border-radius: 50%;
  list-style: none;
}
.slice {
  overflow: hidden;
  position: absolute;
  top: 0; 
  right: 0;
  width: 50%; 
  height: 50%;
  transform-origin: 0% 100%;
}

li.slice:nth-child(1) {
  transform:rotate(0deg) skewy(-30deg);
}
li.slice:nth-child(1) .slice-content:not(:hover) {
  background-color: white;
}
li.slice:nth-child(2) {
  transform:rotate(60deg) skewy(-30deg);
}
li.slice:nth-child(2) .slice-content:not(:hover) {
  background-color: #ffcccc;
}
li.slice:nth-child(3) {
  transform:rotate(120deg) skewy(-30deg);
}
li.slice:nth-child(3) .slice-content:not(:hover) {
  background-color: #ff9999;
}
li.slice:nth-child(4) {
  transform:rotate(180deg) skewy(-30deg);
}
li.slice:nth-child(4) .slice-content:not(:hover) {
  background-color: #ff6666;
}
li.slice:nth-child(5) {
  transform:rotate(240deg) skewy(-30deg);
}
li.slice:nth-child(5) .slice-content:not(:hover) {
  background-color: #ff3333;
}
li.slice:nth-child(6) {
  transform:rotate(300deg) skewy(-30deg);
}
li.slice:nth-child(6) .slice-content:not(:hover) {
  background-color: red;
}

.slice-content {
  transform: skewy(30deg);
  position: absolute;
  left: -100%;
  width: 200%; height: 200%;
  border-radius: 50%;
  border: 2px solid white;
}
.slice-content:hover {background-color: #242424;}
.slice-content:active {background-color: black;}